.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  width: 100%;
  height: 38px;
  cursor: pointer;
  position: relative;
}

.button {
  text-align: start;
  cursor: pointer;
  height: 38px;
  width: 100%;
}

.button:hover {
  border-radius: 4px;
  background-color: #20946e;
  color: #fff;
  border: 1px solid black;
}

.active {
  text-align: start;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  width: 100%;
  background-color: #106146;
  color: #fff;
}
