.form {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.label {
  display: flex;
  flex-direction: column;
}
.desc {
  flex-grow: 1;
}
.select {
  min-width: 150px;
}
.input {
  height: 38px;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}
.inputDesc {
  height: 38px;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

.button {
  height: 38px;
  width: 100px;
}
