.form {
  width: 100%;
  display: flex;
  /* grid-template-columns: 2fr 2fr 5fr 1fr; */
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
.label {
  display: flex;
  flex-direction: column;
}

.input {
  /* height: 38px; */
  padding: 5px;
  font-size: 1.5em;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}
/* .desc {
  flex-grow: 1;
} */
.inputDesc {
  /* height: 38px; */
  padding: 5px;
  font-size: 1.5em;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

.button {
  /* height: 38px; */
  padding: 5px;
  font-size: 1.5em;
  border: 1px Solid transparent;
  border-radius: 4px;
  background-color: white;
}

.button:hover {
  background-color: #106146;
  border: 1px Solid transparent;
  border-radius: 4px;
  color: white;
}
