.form {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 5fr 1fr;
  align-items: flex-end;
  gap: 10px;
}
.label {
  display: flex;
  flex-direction: column;
}
/* .desc {
  flex-grow: 1;
} */

.input {
  height: 38px;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}
.inputDesc {
  height: 38px;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

.button {
  height: 38px;
  width: 100px;
}
