.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 38px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  position: relative;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.shortCut {
  margin-right: 5px;
  font-weight: 700;
  border-right: 1px solid grey;
}

.description {
  text-align: start;
  padding-right: 8%;
}
