.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 38px;
  padding: 5px;
  position: relative;

  /* border: 1px solid grey; */
  padding: 10px 15px;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: 4px;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.shortCut {
  font-size: 1.5em;
  margin-right: 5px;
  font-weight: 700;
  border-right: 1px solid grey;
}

.description {
  text-align: start;
  padding-right: 8%;
}

.deleteBtn {
  /* z-index: 10; */
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-20%, -50%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteIcon {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}
.deleteIcon:hover {
  color: red;
}
