.menuBtn {
  /* z-index: 10; */
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-20%, -50%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuIcon {
  font-size: 1.5em;
  color: white;
}
.menuIcon:hover {
  color: green;
}
