@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 49, 49);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset ____________________________________*/
section {
  width: 100%;
  padding: 5px 20px;
  /* outline: 1px solid teal; */
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
