@import-normalize; /* bring in normalize.css styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22242b;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset ____________________________________*/
/* reset _________________________________*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: white;
  background-color: #13161c;
  /* background-color: white; */
  font-family: var();
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body.no-scroll {
  position: fixed;
}
img {
  display: block;
  max-width: 100%;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* common ___________________________________ */
.container {
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
  min-height: 100vh;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}

section {
  width: 100%;
  padding: 5px 0px;
  /* outline: 1px solid teal; */
  margin: 5px;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
